// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Responsive font-size
// Last update: 01/10/2020
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

@use "sass:math";

@function strip-unit($value) {
    @return math.div($value, $value * 0 + 1);
}
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin recolor($color) {
  h2, .h2{color: $color;}
  .aboutme a{color: $color;}
  background-color:$color;
  .logo-name{-webkit-text-stroke-color: darken($color, 50%);}
  .external-container{
    --squircle-color:#{$color};
    //box-shadow: inset 0 20px 100px 0px darken($color, 10%);
    filter: drop-shadow(0 24px 16px darken($color, 10%));
    &:after{
      background-color: darken($color, 50%);
    }
    .flickity-slider img{
      filter: drop-shadow(1rem 0 0 #00000020);
    }
  }
}
