@font-face {
    font-family:'Montserrat';
	src: url('/fonts/Montserrat-VF.ttf') format('truetype-variations');
}
@font-face {
    font-family:'Moranga';
	src: url('/fonts/Moranga.otf') format('opentype');
}

@import "functions.scss";

$min_width: 320px;
$max_width: 1440px;
$colors-dark: #000;

h1, .h1, h2, .h2{
  @extend %title;
}
p, .p{
    @extend %text;
}
p>a{padding: 0;}
%title {  
    $title-min_font: 24px;
    $title-max_font: 48px;
    @include fluid-type($min_width, $max_width, $title-min_font, $title-max_font);
  
    color: $colors-dark;
    font-family: "Moranga";
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

%button{
    $button-min_font: .75rem;
    $button-max_font: 1rem;
    @include fluid-type($min_width, $max_width, $button-min_font, $button-max_font);

    color:$colors-dark;
    font-weight: 500;
    font-family: "Montserrat";
    letter-spacing: 1px;
}

%text{
    $text-min_font: .75rem;
    $text-max_font: 1rem;
    @include fluid-type($min_width, $max_width, $text-min_font, $text-max_font);

    font-family: "Montserrat";
}

%link, a{
    font-family: "Montserrat";
    font-variation-settings: "wght" 500;

    text-decoration: none;
    color: #fff;
    padding: 1rem;
    margin: auto;
    transition:all .5s ease-in-out;
    font-size: 1rem;
    cursor: pointer;
    &:hover{
    transition:all .25s ease-in-out;
    }
}